
.content1{
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: .5em;
    height: 99%;
    width: 90%;
    padding: 2em;
    animation: content1 .4s ease-in-out;
}

.content2{
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: .5em;
    height: 99%;
    width: 90%;
    padding: 1em;
    animation: content2 .6s ease-in-out;
}

@keyframes content1 {
    from{opacity: 0.0;transform: scale(0.0);}
    to{opacity: 1.0;transform: scale(1.0);}
}

@keyframes content2 {
    from{opacity: 0.0;transform: scale(0.0);}
    to{opacity: 1.0;transform: scale(1.0);}
}


.content span{
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
    font-weight: 900;
    padding-bottom: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1em;
}

.content .edit input:focus{
    background-color: white;
}

.content2 .edit input {
    border-radius: .5em;
    display: block;
    width: 70%;
    display: block;
    border: none;
    padding: .5em;
    margin-top: .2em;
    margin-bottom: 1.8em;
    outline:1px solid rgba(255, 255, 255, 0.073);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.514);
    background-color: rgba(255, 255, 255, 0.171);
}

.content2 .edit label{
    width: 30%;
    margin-top: .5em;
}

.content1 .edit input {
    border-radius: .3em;
    display: block;
    width: 100%;
    border: none;
    padding: .5em;
    margin-top: .2em;
    margin-bottom: .8em;
    outline:1px solid rgba(255, 255, 255, 0.073);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.514);
    background-color: rgba(255, 255, 255, 0.171);
}

.content .edit label{
    color: rgba(255, 255, 255, 0.909);
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content .btns button{
    margin-top: 1em;
    margin-right: .5em;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




